.background{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#quote-box{
    width: 500px;
    margin: 0 auto;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 2rem;
    background-color: yellow;
    color: #242424;
    border-radius: 8px;
    box-shadow:  10px 5px 5px rgba(1, 1, 1, 0.3);
}

.buttons{
    margin-top: 16px;
    text-align: right;
    margin-right: 16px;
}

.buttons a:hover{
    cursor: pointer;
    opacity: 0.7;
}
